<div id="<%= dom_id friend %>">
  <p>
    <strong>Firstname:</strong>
    <%= friend.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= friend.lastName %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= friend.gender %>
  </p>

</div>
